page-home {
    background-image: url("/assets/imgs/bg.png");
    /* background-color: transparent !important; */
    background-repeat: round;
    background-size: cover;

    .content,.item{
        background: transparent;
    }
    .ion-profile-picture{
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        width: 10rem;
        height: 10rem;
        margin: 0.5rem auto 1rem auto;
        background-color: #3b6261;
        opacity: 0.6;
        text-align: center;
        color: #ccc;
        position: relative;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
      .ion-profile-picture input[type=file]{
        display: none;
      }

      .camera-icon{
        top: 60% !important;
        /* vertical-align: baseline; */
        position: absolute;
        left: 33%;
        background: transparent;
        background-color: transparent;
        background: inherit;
        box-shadow: none;
        opacity: 0.5;
      }
}
