<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Profile Page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-5 text-center  class="ion-profile-picture no-picture" [ngStyle]="{ 'background-image': 'url(' + selectedImage + ')'}">
        <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <button ion-button icon-only medium color="light" class="camera-icon" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Skills</ion-label>
          <ion-select multiple value="MicrosoftOffice" ok-text="Okay" cancel-text="Dismiss">
            <ion-option value="MicrosoftOffice">Microsoft Office</ion-option>
            <ion-option value="Spreadsheets">Spreadsheets</ion-option>
            <ion-option value="PowerPoint">PowerPoint</ion-option>
            <ion-option value="MicrosoftAccess">Microsoft Access</ion-option>
            <ion-option value="QuickBooks">QuickBooks</ion-option>
            <ion-option value="Email">Email</ion-option>
            <ion-option value="Web">Web</ion-option>
            <ion-option value="SocialSkills">Social Skills</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Highest Qualification</ion-label>
          <ion-select value="BTech" ok-text="Okay" cancel-text="Dismiss">
            <ion-option value="BTech">B.Tech</ion-option>
            <ion-option value="BE">BE</ion-option>
            <ion-option value="Diploma">Diploma</ion-option>
            <ion-option value="Master">Master</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-2></ion-col>
      <ion-col padding col-8 text-center>
        <button ion-button round color="primary" (click)="submitData()">Submit</button>
      </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>
  </ion-grid>
</ion-content>